@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .sideNavbarButton {
    @apply transition-all dark:text-white text-black font-semibold sm:!text-[1rem]  !text-[0.65rem] !rounded-none  w-full hover:bg-blue-700   focus:outline-white focus:outline-2 focus:bg-blue-700;
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

#root {
  height: 100vh;
  width: 100vw;
}
